services:
  zipkin_server:
    image: jhipster/jhipster-zipkin
    container_name: zipkin
    restart: on-failure
    ports:
      - "9411:9411"
    networks: 
      - mynetwork

  splunk:
    image: splunk/splunk:latest
    container_name: splunk
    environment:
      # This is the NEW variable you are missing
      - SPLUNK_GENERAL_TERMS=--accept-sgt-current-at-splunk-com
      # This is the standard license acceptance
      - SPLUNK_START_ARGS=--accept-license
      - SPLUNK_PASSWORD=yamamato
    ports:
      - "8000:8000" # Web UI
      - "8088:8088" # HEC (for your Spring Boot logs)
    networks:
      - mynetwork

  # zookeeper:
  #   image: zookeeper:3.6.2
  #   restart: on-failure
  #   container_name: zookeeper
  #   ports:
  #     - "2181:2181"
  #   networks: 
  #     - mynetwork
  #   healthcheck:
  #     test: 'echo stat | nc -z localhost 2181'
  #     interval: 30s
  #     timeout: 5s
  #     retries: 3

  # kafka:
  #   image: confluentinc/cp-kafka:6.0.0
  #   container_name: kafka
  #   restart: on-failure
  #   ports:
  #     - "9092:9092"
  #   environment:
  #     - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:9092
  #     - KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092
  #     - KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
  #   depends_on:
  #     - zookeeper
  #   networks: 
  #     - mynetwork
  #   healthcheck:
  #     test: 'nc -z localhost 9092'
  #     interval: 30s
  #     timeout: 5s
  #     retries: 3

networks:
  mynetwork:
    external: true
