apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment
  template:
    metadata:
      labels:
        app: payment
    spec:
      hostAliases:
      - ip: "172.17.0.1"
        hostnames: ["host.docker.internal"]
      containers:
      - name: payment
        image: payment:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8082